* {
  box-sizing: border-box;
}
body {
  background-color: #334d00;
  color: white;
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr 1fr;
}

#siteLogo {
  width: 200px;
}

/* grid styles */
header {
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  background-color: #558000;
  color: whitesmoke;
}

h1 {
  font-size: 5rem;
  color: white;
  display: flex;
  justify-content: center;
}

.results {
  grid-area: 2 / 1 / 3 / 2;

  background-color: #808000;
  color: whitesmoke;
  padding-left: 0.5rem;
  padding-top: 1rem;
}
main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #334d00;
  color: whitesmoke;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  width: 100%;
  background-color: #558000;
  color: whitesmoke;
}

/* main area styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid #334d00;
}
.lorem-container {
  padding: 1rem;
  border: 3px solid #334d00;
  color: whitesmoke;
}

img {
  width: 30%;
}

#myChart {
  color: whitesmoke;
}
